.winner {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .move-button {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    font-size: 1.2em;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .move-button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .play-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
  }
  
  .play-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
  }